/* font import from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Bellefair&family=Outfit:wght@400;700&display=swap');

/* resets */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grey: hsl(212, 45%, 89%);
    --clr-Grayish-blue: hsl(220, 15%, 55%);
    --clr-Dark-blue: hsl(218, 44%, 22%);
}

img {
    max-width: 100%;
}

/* custom properties */
body {
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375em;
    line-height: 1.6;
    color: #000;
    background-color: var(--clr-light-grey);
}

.content {
    max-width: 90em;
    margin: 0 auto;
    padding-block-start: 3em;
}

.qr-card {
    background-color: var(--clr-white);
    max-width: 25em;
    padding: 2em;
    margin-inline: auto;
    border-radius: 20px;
}

.qr-card img {
    border-radius: 10px;
}

.qr-code__body {
    text-align: center;
    padding: 0.9em;
    color: var(--clr-Grayish-blue);
}

.qr-code__body>*:first-child {
    color: var(--clr-Dark-blue);
    margin-bottom: 0.5em;
}

.qr-code__body>p {
    width: 95%;
}

/* footer */
footer {
    margin-top: 0.7em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

/* mobile version */
@media (max-width: 23.4375em) {
    .content {
        padding: 1.1em;
    }

}